:root{
    --bool-editorial: #45abea;
    --bool-addtask: #47adf1;
    --bool-tick: #cdebe5;
    --bool-goal: #9c72e4;
    --bool-recruiting: #64c0a9;
    --bool-ex: #ec8985;
    --bool-mobile: #f29e33;
    --bool-website: #d863a1;
    --bool-sales: #b0c926;
}

#logo_img{
    display: inline-block;
    vertical-align: middle;
}
.logo-text{
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    vertical-align: middle;
}

.container{
    width: 75%;
    margin: auto;
    margin-top: 5rem;
}

#task_button{
    color: white;
    background-color: #47adf1;
    border-radius: 5px;
    border-color: #47adf1;
    height: 30px;
}

#section_button{
    color: lightgray;
    background-color: white;
    border-radius: 5px;
    border-color:lightgray;
    height: 30px;
}